<div ng-include="'./components/includes/_header.html'"></div>
<main class="container-fluid">
  <section class="row">

    <div class="col-md-12 my-5">

      <h1 class="text-center">Lista de usuarios</h1>
      <table class="table text-center mt-5">
          <thead class="thead-dark btn-dark-fn">
            <tr>
              <!-- <th></th> -->
              <th scope="col">Cédula</th>
              <th scope="col">Nombre</th>
              <th scope="col">Primer apellido</th>
              <th scope="col">Segundo apellido</th>  
              <th scope="col">Sexo</th>
              <!-- <th scope="col">Provincia</th>
              <th scope="col">Cantón</th> -->
              <th scope="col">Residencia</th>
              <!-- <th scope="col">Usuario</th> -->
              <th scope="col">Correo electrónico</th>
              <!-- <th scope="col">Contraseña</th>
              <th scope="col">Fecha</th> -->
              <th scope="col">Agregar difunto</th>
              <th scope="col">Mostrar difuntos</th>
              <th scope="col">Editar usuario</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="usuario in vm.listarUsuarios">
              <!-- <td>{{$index+1}}</td> -->
              <td>{{usuario.cedula}}</td>
              <td>{{usuario.nombre}}</td>
              <td>{{usuario.primerApellido}}</td>
              <td>{{usuario.segundoApellido}}</td>
              <td>{{usuario.sexo}}</td>
              <!-- <td>{{usuario.provincia.name}}</td>
              <td>{{usuario.canton.name}}</td> -->
              <td>{{usuario.distrito.name}}</td>
              <!-- <td>{{usuario.nombreUsuario}}</td> -->
              <td>{{usuario.correo}}</td>
              <!-- <td>{{usuario.contrasenna}}</td> -->
              <!-- <td>{{usuario.fecha | date:'dd-MM-yyyy'}}</td> -->
              <td>
                <button class="btn btn-info" type="button" ng-click="vm.agregarDifunto(usuario)">Agregar Difunto</button>
              </td>
              <td>
                <button class="btn btn-info" type="button" ng-click="vm.listarDifunto(usuario)">Mostar difuntos</button>
              </td>
              <td>
                <button class="btn btn-info" type="button" ng-click="vm.editarUsuario(usuario)">Editar usuario</button>
              </td>
            </tr>
          </tbody>
        </table> 

    </div>
    
  </section>
</main>
<div ng-include="'./components/includes/_footer.html'"></div>