<div ng-include="'./components/includes/_header.html'"></div>
<main class="container">

    <section class="row">

        <div class="col-md-12 my-5">

            <h1 class="text-center">Editando a {{vm.difuntoActivo}}</h1>

            <form class="row mt-5" name="frmEditarDifuntos" ng-submit="vm.editarDifuntos(vm.difuntoEditar)">

                <div class="col-md-4">

                    <div class="form-group">
                        <label for="#txtApodo">Cédula del cliente: </label>
                        <input type="text" class="form-control" id="txtApodo" ng-model="vm.difuntoEditar.clienteID" disabled>
                        <small class="form-text">* No puede editar este campo</small>
                    </div>

                    <div class="form-group">
                        <label for="#txtApodo">Código del difunto: </label>
                        <input type="text" class="form-control" id="txtApodo" ng-model="vm.difuntoEditar.difuntoID" disabled>
                        <small class="form-text">* No puede editar este campo</small>
                    </div>

                    <div class="form-group">
                        <label for="#txtApodo">Apodo del difunto: </label>
                        <input type="text" class="form-control" id="txtApodo" ng-model="vm.difuntoEditar.apodo">
                        <small class="form-text text-danger">* Campo requerido</small>
                    </div>

                    <div class="form-group">
                        <label for="sltSexo">Sexo del difunto:</label>
                        <select id="sltSexo" class="custom-select" ng-model="vm.difuntoEditar.sexo" required>
                            <option value="">Seleccione un sexo</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Otro">Otro</option>
                        </select>
                        <small class="form-text text-danger">* Campo requerido</small>
                    </div>

                    <div class="form-group">
                        <label for="#txtEdad">Edad del difunto: </label>
                        <input type="number" class="form-control" id="txtEdad" ng-model="vm.difuntoEditar.edad">
                        <small class="form-text text-danger">* Campo requerido</small>
                    </div>

                    <div class="form-group">
                        <label for="txtTamanno">Estatura del difunto (en metros): </label>
                        <input type="number" class="form-control" id="txtTamanno" ng-model="vm.difuntoEditar.estatura">
                        <small class="form-text text-danger">* Campo requerido</small>
                    </div>
                </div>

                <div class="col-md-12 mb-5">
                    <button type="submit" class="btn btn-info">Editar difunto</button>
                    <button type="button" class="btn btn-dark" ng-click="vm.regresar()">Regresar</button>
                </div>
            </form>

        </div>

    </section>

</main>

<div ng-include="'./components/includes/_footer.html'"></div>