<main class="container-fluid">
    <section class="row">
        <div class="col-md-12 mt-5">
            <h1 class="text-center">Resumen de fiestas</h1>
            
            <table class="table mt-5">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Duración (hrs)</th>
                        <th scope="col">Método de pago</th>
                        <th scope="col">Elegir animadores</th>
                    </tr>
                </thead>

                <tbody>
                    <tbody>
                        <tr ng-repeat="fiestas in vm.listarFiestas">
                            <td>{{fiestas.fecha | date: 'dd MMMM yyyy'}}</td>
                            <td>{{fiestas.horas}}</td>
                            <td>{{fiestas.pago}}</td>
                            <td>
                                <button type="button" class="btn btn-primary" ng-click="vm.agregarAnimadores(fiestas)">Administrar</button>
                            </td>
                        </tr>
                    </tbody>
                </tbody>
            </table>


            <button type="button" class="btn btn-success" ng-click="vm.agregarFiesta()">Agregar fiesta</button>
        </div>
    </section>
</main>