<main class="container-fluid">
    <section class="row">

        <div class="col-md-12 mt-5">

            <h1 class="text-center">Difuntos de {{vm.usuarioActivo}} </h1>
            <table class="table mt-5">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Edad</th>
                        <th scope="col">Apodo</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Estatura</th>
                        <th scope="col">Agregar entierro</th>
                        <th scope="col">Modificar difunto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="difunto in vm.listarDifuntos">
                        <td>{{difunto.edad}}</td>
                        <td>{{difunto.apodo}}</td>
                        <td>{{difunto.sexo}}</td>
                        <td>{{difunto.estatura}}</td>
                        <td>
                            <button class="btn btn-primary" type="button" ng-click="vm.agregarEntierro(usuario)">Agregar entierro</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" type="button" ng-click="vm.editarDifuntp(usuario)">Modificar difunto</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="col-md-12">
            <button type="button" class="btn btn-danger" ng-click="vm.regresar()">Regresar</button>
        </div>

    </section>
</main>